﻿
@model List<Trendyol.Model.CacheModel.Products>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    <h2>Ürün Listesi</h2>
    if (Model != null)
    {
        <table id="tblProductList" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Ürün Numarası</th>
                    <th>Ürün Adı</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.ProductName</td>
                    </tr>

                }
            </tbody>
        </table>
        <br />
        <button class="btn btn-success js-loading-more">Devamını Yükle</button>
    }
}







